<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Test">
    <meta name="author" content="Test">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,jQuery,CSS,HTML,RWD,Dashboard">
    <link rel="shortcut icon" href="/assets/img/favicon.png">

    <title>Test</title>

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

    <script src="/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/assets/js/uuid.js" type="text/javascript"></script>
</head>

<body>
    <script>
        window.__theme = 'bs4';
    </script>
    <app class="app">
        <div class="r3s-loading-container">
            <div class="r3s-wrapper">
                <div class="r3s-loading">Loading...</div>
            </div>
        </div>
    </app>
</body>