.btn {
    &-link {
        height: 36px;
        background: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
        padding: 0;
        &:hover {
            opacity: 0.8;
            text-decoration: underline;
        }
    }
}