$form-control-margin-bottom: 0 0 20px;
.form-control {
    .mat-input-container,
    .mat-select {
        width: 100%;
        margin-bottom: 8px;
        .mat-input-wrapper,
        .mat-select-trigger {
            line-height: normal;
            font-size: 14px;
            height: auto;
        }
        .mat-select-trigger {
            .mat-select-placeholder {
                width: 100% !important;
            }
        }
    }
}

password-control {
    .btn-link,
    ng2-password-strength-bar {
        height: inherit;
    }
    ng2-password-strength-bar {
        top: -3px;
    }
    .btn-show-password {
        height: auto;
        width: auto;
        line-height: inherit;
        margin-right: 5px;
        md-icon {
            line-height: inherit !important;
        }
        &.password {
            opacity: 0.2;
        }
    }
    &.has-forgot-password {
        .btn-link {
            text-align: right;
        }
    }
}

radio-group-control {
    .mat-radio-button {
        &:not(:last-child) {
            padding-right: 15px;
        }
        .mat-radio-label {
            margin: 0 0 1em;
            .mat-radio-label-content {
                font-weight: normal;
                padding-left: 4px;
            }
        }
    }
    &.form-control-vertical {
        .mat-radio-button {
            display: block;
            &:not(:last-child) {
                padding-right: 5px;
            }
        }
    }
}

checkbox-control {
    .mat-checkbox-layout {
        margin: $form-control-margin-bottom !important;
        .mat-checkbox-label {
            font-weight: normal;
        }
    }
}

slide-toggle-control {
    .mat-slide-toggle {
        margin: $form-control-margin-bottom;
        .mat-slide-toggle-label {
            display: initial;
            .mat-slide-toggle-bar {
                display: inline-block;
            }
            .mat-slide-toggle-content {
                font-weight: normal;
            }
        }
    }
}