html {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    body {
        margin: 0;
        overflow: hidden;
        height: inherit;
        app {
            display: block;
            height: inherit;
        }
    }
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

[hidden] {
    display: none !important;
}

.full {
    &-width {
        width: 100%;
    }
    &-height {
        height: 100%;
    }
}

.pull {
    &-left {
        float: left;
    }
    &-right {
        float: right;
    }
}

button:disabled {
    opacity: 0.5;
}