<div fxLayout="row" [ngClass]="classes">
    <div fxFlex="60px"><i class="material-icons">{{ icon }}</i></div>
    <perfect-scrollbar>
        <div *ngIf="!isException">{{ message | translate:EResource.Message }}</div>
        <div *ngIf="isException" [innerHTML]="message | safeHtml"></div>
    </perfect-scrollbar>
</div>