$primary-color: green;
$r3s-icon-color: #757575;
$r3s-footer-top-background-color: #262b2e;
$r3s-home-title: $primary-color;
$r3s-home-description: $r3s-home-title;
.btn {
    &-primary {
        background-color: $primary-color !important;
        color: white !important;
    }
    &-link {
        color: $primary-color;
    }
    &-facebook {
        background-color: #4267b2 !important;
        color: white !important;
        i {
            background-color: #3b5998;
            color: inherit;
        }
    }
    &-google {
        background-color: #f5f5f5 !important;
        color: #333 !important;
        i {
            background-color: #db4437;
            color: white;
        }
    }
    &-twitter {
        background-color: #00aced !important;
        color: white !important;
        i {
            background-color: #0099d4;
            color: inherit;
        }
    }
}

radio-group-control {
    .mat-radio-outer-circle {
        border-color: $primary-color;
    }
    .mat-radio-inner-circle {
        background-color: $primary-color;
    }
}

checkbox-control {
    .mat-checkbox-frame {
        border-color: $primary-color;
    }
    .mat-checkbox-checked {
        .mat-checkbox-background {
            background-color: $primary-color !important;
        }
    }
}

slide-toggle-control {
    .mat-slide-toggle-bar {
        background-color: $primary-color;
    }
}