footer {
    border-top: 2px solid green;
    font-size: 14px;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    .r3s-footer-top {
        border-bottom: 1px solid green;
        background: $r3s-footer-top-background-color;
        color: white;
        padding: 0 20px;
        .mat-mini-fab {
            background: white;
        }
    }
}