header {
    .r3s-logo {
        width: 175px;
    }
    .mat-raised-button {
        color: green;
    }
    .r3s-header-language-button {
        width: 50px;
        height: 38px;
        .mat-button-wrapper {
            width: inherit;
            height: inherit;
            img {
                width: inherit;
                height: inherit;
            }
        }
    }
}

.r3s-header-language-menu {
    .mat-menu-item {
        height: 40px;
        img {
            width: 20px;
            margin-right: 5px;
        }
    }
}