home {
    display: block;
    height: inherit;
    .r3s-home-title {
        color: $r3s-home-title;
        font-size: 40px;
        font-weight: 500;
        text-transform: capitalize;
    }
    .r3s-home-description {
        color: $r3s-home-description;
        font-weight: 500;
        padding: 5px 0 30px;
    }
}