@mixin r3s-msg-dialog($color) {
    .mat-dialog-title {
        background: $color;
    }
    i {
        color: $color;
    }
}

.mat-dialog-container {
    padding: 0 !important;
    overflow: hidden !important;
    .mat-dialog-title {
        padding: 15px 20px 10px;
        margin: 0;
        cursor: move;
    }
    .mat-dialog-content {
        padding: 10px 20px 20px;
        margin: 0;
        overflow: hidden;
    }
    .mat-dialog-actions {
        padding: 0 20px 15px;
        margin: 0 !important;
        justify-content: flex-end;
    }
    msg-dialog {
        .mat-dialog-title {
            color: white;
        }
        i {
            font-size: 50px;
        }
        &.r3s-msg-dialog {
            &-confirm {
                @include r3s-msg-dialog(green)
            }
            &-error {
                @include r3s-msg-dialog(red)
            }
            &-warning {
                @include r3s-msg-dialog(orange)
            }
            &-info {
                @include r3s-msg-dialog(lightSkyBlue)
            }
        }
        .mat-dialog-content {
            &>div {
                max-height: inherit;
            }
            pre {
                margin: 0;
            }
        }
    }
}

authenticate-modal {
    font-size: 14px;
    .mat-dialog-content {
        padding: 0 !important;
        h1 {
            font-weight: 500;
        }
        re-captcha {
            display: block;
            margin-bottom: 10px;
        }
        .r3s-signin-container {
            padding: 30px !important;
            .r3s-signin-description {
                display: block;
                padding: 10px 0 5px;
                opacity: 0.5;
            }
            .r3s-login-external {
                margin-bottom: 20px;
                button {
                    margin: 0;
                    padding: 0;
                    height: 36px;
                    &:not(:last-child) {
                        margin-right: 5px;
                    }
                    .mat-button-wrapper {
                        display: block;
                        i {
                            position: absolute;
                            width: 36px;
                            line-height: 36px;
                            left: 0;
                        }
                        span {
                            width: calc(100% - 36px);
                            display: block;
                            margin-left: 36px;
                        }
                    }
                }
            }
        }
        .r3s-signup-container {
            background-color: green;
            color: white;
            opacity: 0.8;
            .r3s-signup-content {
                padding: 0 50px;
                text-align: center;
                .r3s-signup-description {
                    margin: 15px 0 20px;
                    display: block;
                }
                button {
                    color: initial;
                }
            }
        }
        .r3s-register-container {
            padding: 30px;
        }
    }
}

conversation-modal {
    md-dialog-content {
        height: 500px;
    }
}