$searchbar-height: 70px;
$searchbar-icon-width: $searchbar-height;
$searchbar-button-width: 100px;
searchbar {
    .r3s-searchbar-container {
        width: 100%;
        height: $searchbar-height;
        display: flex;
        padding: 0;
        .r3s-searchbar-icon {
            width: $searchbar-icon-width;
            line-height: $searchbar-icon-width;
            text-align: center;
            font-size: 35px;
            position: absolute;
        }
        .r3s-searchbar-input {
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            border: 0;
            outline: none;
            font-size: 18px;
            border: 1px solid green;
            border-radius: 0;
            padding-left: $searchbar-icon-width;
            padding-right: $searchbar-button-width + 5px;
        }
        .r3s-searchbar-button {
            width: $searchbar-button-width;
            position: absolute;
            right: 1px;
            height: calc(100% - 1px);
            border: none;
            border-radius: 0;
            .mat-button-wrapper {
                width: inherit;
                height: inherit;
                img {
                    width: inherit;
                    height: inherit;
                }
            }
        }
    }
}

.r3s-searchbar-menu {
    .mat-menu-item {
        height: 40px;
        img {
            width: 20px;
            margin-right: 5px;
        }
    }
}

.pac-container {
    .pac-item {
        line-height: 40px;
        font-size: 18px;
        span {
            font-size: inherit;
            &.pac-icon {
                margin: 10px;
            }
        }
    }
    &::after {
        background-size: 180px 20px;
        margin-right: 10px;
        height: 30px;
    }
}