search-result {
    .r3s-search-result-container {
        &>div {
            padding: 10px;
            &.r3s-search-result-map {
                border: 1px solid green;
                .sebm-google-map-container {
                    width: 100%;
                    height: 100%;
                }
            }
            .r3s-search-result-header {
                .mat-button-toggle-label {
                    margin: 0;
                }
            }
        }
    }
}