i {
    color: $r3s-icon-color;
}

.r3s-spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.r3s-loading-container {
    color: green;
    position: fixed;
    left: 50%;
    top: 30%;
    .r3s-wrapper {
        position: relative;
        left: -50%;
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        .c-loading {
            font-size: 20px;
            font-weight: normal;
        }
    }
}

#container {
    height: inherit;
}

.mat-slider-horizontal {
    width: 100%;
}

label:not(.mat-input-placeholder) {
    font-weight: bold;
    margin: 1.5em 0;
    display: block;
}

#page-padding {
    padding: 0 1.5em 1.5em 1.5em;
}

.toast-success {
    background-color: green;
}

re-captcha {
    width: 100%;
    div {
        width: inherit;
    }
}

.r3s-link-button {
    cursor: pointer;
}