<div fxLayout="column" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
    <div fxLayout="row" class="r3s-footer-top">
        <div fxFlex>Test</div>
        <div fxAlight="right">
            Follow us:
            <a md-mini-fab routerLink=".">
                <i class="fa fa-facebook"></i>
            </a>
            <a md-mini-fab routerLink=".">
                <i class="fa fa-google"></i>
            </a>
            <a md-mini-fab routerLink=".">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
    </div>
    <div fxLayout="row" class="r3s-footer-content" *ngIf="isContentVisible">
        <div fxFlex="20"></div>
        <div fxFlex>
            <div fxLayout="row">
                TEST r3s-footer-content
            </div>
        </div>
        <div fxFlex="20"></div>
    </div>
</div>