<md-toolbar color="primary">    
    <span class="r3s-spacer"></span>
    <button md-raised-button (click)="test()">Test</button>
    <md-menu #menu="mdMenu" class="r3s-header-language-menu">
        <button md-menu-item *ngFor="let language of languages" [hidden]="languageCode === language.Code" (click)="switchLanguage(language.Code)">
            {{language.Name}}
        </button>
    </md-menu>
    <button md-icon-button [md-menu-trigger-for]="menu" class="r3s-header-language-button">
        <img [src]="languageImgSrc"></img>
    </button>
</md-toolbar>